<!DOCTYPE html>
<html>
<head>
  <title>Ourvibe</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container reative-width content">
  <header id="header" class="header">
    <h1>Ourvibe. Share the vibe.</h1>
  </header>
  <%= yield %>

<%= render "layouts/footer" %>
</div>

</body>
</html>
